{% extends 'includes/layouts/masterLayout.html' %}

{% block content %}
    <div ng-app="adminModule">
        <div ui-view=""></div>
    </div>
{% endblock %}

{% block footerIncludes %}
{% parent %}
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-sortable/sortable.js"></script>
<script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/bower_components/dropzone/downloads/dropzone.js"></script>
<script type="text/javascript" src="/bower_components/velocity/velocity.js"></script>
<script type="text/javascript" src="/bower_components/velocity/velocity.ui.js"></script>
<script type="text/javascript" src="/modules/admin/controller.admin.js"></script>
<script type="text/javascript" src="/modules/admin/directive.admin.js"></script>
<script type="text/javascript" src="/routes/route.admin.js"></script>
{% endblock %}