{% extends 'includes/layouts/masterLayout.html' %}

{% block headerIncludes %}
    {% parent %}
    <link rel="stylesheet" href="/bower_components/datetimepicker/jquery.datetimepicker.css" />
{% endblock %}

{% block content %}
    <div ng-app="adminModule">
        <div ui-view=""></div>
    </div>
{% endblock %}

{% block footerIncludes %}
    {% parent %}
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/dropzone/downloads/dropzone.js"></script>
    <script src="/bower_components/velocity/velocity.js"></script>
    <script src="/bower_components/velocity/velocity.ui.js"></script>
    <script src="/bower_components/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="/bower_components/ckeditor/ckeditor.js"></script>
    <script src="/modules/common/service.common.js"></script>
    <script src="/modules/admin/controller.admin.js"></script>
    <script src="/modules/admin/directive.admin.js"></script>
    <script src="/modules/admin/service.admin.js"></script>
    <script src="/routes/route.admin.js"></script>
{% endblock %}