{% extends 'includes/layouts/commonLayoutWithNav.html' %}

{% block title %}Tablet PC Sketches &laquo; {% parent %}{% endblock %}

{% block content %}

<div class="gallery-sketch-container">
    <img src="/images/gallery/sketch/tablet/01.jpg" /><br>
    Since most of these were drawn around the notes I was taking, the pictures tend to be clipped. THEY PROPAGATED ABOUT THE EDGES KNOW WHAT I AM SAYING<br><br>
    <img src="/images/gallery/sketch/tablet/02.jpg" /><br>
    Maybe I should take a typography class or something... fix up that thar handwriting.<br><br>
    <img src="/images/gallery/sketch/tablet/03.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/04.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/05.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/06.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/07.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/08.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/09.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/10.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/11.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/12.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/13.jpg" /><br>
    I was certainly "getting my draw on" with that green-colored pen tool.<br><br>
    <img src="/images/gallery/sketch/tablet/14.jpg" /><br>
    My colors were limited in the program we used to take notes, so I made some funky colored things like this!<br><br>
    <img src="/images/gallery/sketch/tablet/15.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/16.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/17.jpg" /><br>
    nyeh he he he...<br><br>
    <img src="/images/gallery/sketch/tablet/18.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/19.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/20.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/21.jpg" /><br>
    This one makes me laugh every time<br><br>
    <img src="/images/gallery/sketch/tablet/22.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/23.jpg" /><br>
    ANGER!<br><br>
    <img src="/images/gallery/sketch/tablet/24.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/25.jpg" /><br>
    Singing and dancing prof!  It was kind of him to provide the tablet PCs we used in class... although you can probably see what I used them for the most...<br><br>
    <img src="/images/gallery/sketch/tablet/26.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/27.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/28.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/29.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/30.jpg" /><br>
    Hey, it's like that one guy from Galaxy Express 999... I love that guy...<br><br>
    <img src="/images/gallery/sketch/tablet/31.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/32.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/33.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/34.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/35.jpg" /><br>
    all these knives and swords and violence and stuff<br><br>
    <img src="/images/gallery/sketch/tablet/36.jpg" /><br>
    I was just trying to take notes guys.<br><br>
    <img src="/images/gallery/sketch/tablet/37.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/38.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/39.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/40.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/41.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/42.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/43.jpg" /><br>
    I like the fewness of lines!<br><br>
    <img src="/images/gallery/sketch/tablet/44.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/45.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/46.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/47.jpg" /><br>
    Kicking it back with the "highlighter" tool...<br><br>
    <img src="/images/gallery/sketch/tablet/48.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/49.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/50.jpg" /><br>
    The man to the middle right brings up an excellent point.<br><br>
    <img src="/images/gallery/sketch/tablet/51.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/52.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/53.jpg" /><br>
    If my dad had enormous ears, he'd sort of look like this. He's a radical dude.<br><br>
    <img src="/images/gallery/sketch/tablet/54.jpg" /><br>
    Try doing this around your friends!  IT'S AWESOME<br><br>
    <img src="/images/gallery/sketch/tablet/55.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/56.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/57.jpg" /><br>
    These two guys aren't really seeing eye-to-eye.  I mean, they're trying to work out a couple of things.<br><br>
    <img src="/images/gallery/sketch/tablet/58.jpg" /><br>
    back view!<br><br>
    <img src="/images/gallery/sketch/tablet/59.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/60.jpg" /><br>
    I say "whoa!" when I see this... kind of startling and detailed.  Yee-haw!<br><br>
    <img src="/images/gallery/sketch/tablet/61.jpg" /><br>
    THUMBS UP, CHAMP!<br><br>
    <img src="/images/gallery/sketch/tablet/62.jpg" /><br>
    Dude, I should draw faces like this more often...<br><br>
    <img src="/images/gallery/sketch/tablet/63.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/64.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/65.jpg" /><br>
    How many of these are of people who are angry or frustrated?  Do I secretly feel this way most of the time?<br><br>
    <img src="/images/gallery/sketch/tablet/66.jpg" /><br>
    Love that guy...<br><br>
    <img src="/images/gallery/sketch/tablet/67.jpg" /><br>
    "Rrrrg!"  "Ooooog..."<br><br>
    <img src="/images/gallery/sketch/tablet/68.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/69.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/70.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/71.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/72.jpg" /><br>
    PRTY CLRZ<br><br>
    <img src="/images/gallery/sketch/tablet/73.jpg" /><br>
    Playing around with interesting colors is something I want to do more often.<br><br>
    <img src="/images/gallery/sketch/tablet/74.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/75.jpg" /><br>
    I took notes this one time it was awesome you should try it<br><br>
    <img src="/images/gallery/sketch/tablet/76.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/77.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/78.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/79.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/80.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/81.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/82.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/tablet/83.jpg" /><br>
    He's kind of tired and a bit afraid of all the people above him...<br><br>
    <img src="/images/gallery/sketch/tablet/84.jpg" /><br>
    Oh no!  Stop the hungry man! <br><br>
    <img src="/images/gallery/sketch/tablet/85.jpg" /><br>
    Lots of my integrals end up looking like this...<br><br>
    <img src="/images/gallery/sketch/tablet/86.jpg" /><br>
    The Galaxy Express 999 will take you on a journey a neverending journey!<br><br>
    <img src="/images/gallery/sketch/tablet/87.jpg" /><br><br>
    <img src="/images/gallery/sketch/tablet/88.jpg" /><br>
    The heads of beautiful women!<br><br>
    <img src="/images/gallery/sketch/tablet/89.jpg" /><br>
    Some other heads!<br><br>
    <img src="/images/gallery/sketch/tablet/90.jpg" /><br>
    Exasperation! Distress!<br><br>
    <img src="/images/gallery/sketch/tablet/91.jpg" /><br>
    A suspicious-looking green, yellow, and blue man...
    <br><br>
    <img src="/images/gallery/sketch/tablet/92.jpg" /><br>
    An angry dude with a sword - sort of a dude I know. (done in ArtRage 2)
    <br><br>
    <img src="/images/gallery/sketch/tablet/93.jpg" /><br>
    My professor he is a ninja. (done in ArtRage 2)
    <br><br>
    <img src="/images/gallery/sketch/tablet/94.jpg" /><br>
    I've been trying out ArtRage 2 to see what it's capable of - I made this using that - lines in ArtRage, then coloring in Gimp.
    <br><br>
    <img src="/images/gallery/sketch/tablet/95.jpg" /><br>
    Here's the same thing but with shading instead of color - this was all in ArtRage 2
    <br><br>
    <img src="/images/gallery/sketch/tablet/96.jpg" /><br>
    The green shape was a lake in these notes before it turned into a friendly man.
    <br><br>
    <img src="/images/gallery/sketch/tablet/97.jpg" /><br>
    "Wow! Did he just he say he drives a truck?"<BR>
    "Yeah, I think he did!"<BR>
    "Draw him driving a truck, Paul!"<BR>
    "OK..."<BR>
    "DRAW HIM BEING AWESOME IN HIS TRUCK, PAUL."
    <br><br>
    <img src="/images/gallery/sketch/tablet/98.jpg" /><br>
    Staaaaaaaring
    <br><br>
    <img src="/images/gallery/sketch/tablet/99.jpg" /><br>
    Hungry tall-headed men figure heavily in many of my models of holding tanks and things.  He's hungry for knowledge, as am I!
</div>

{% endblock %}