{% extends 'includes/layouts/commonLayoutWithNav.html' %}

{% block title %}Sketches #1 &laquo; {% parent %}{% endblock %}

{% block content %}

<div class="gallery-sketch-container">
    <img src="/images/gallery/sketch/1/sketch1.jpg" /><br>
    One day a carrot man came in and taught one of my Bible-related classes... he spoke in a beautiful language that few of us could understand...<br><br>
    <img src="/images/gallery/sketch/1/sketch2.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/1/sketch3.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/1/sketch4.jpg" /><br>
    Top left is me in many classes... I drink a ton of coffee.<br><br>
    <img src="/images/gallery/sketch/1/sketch5.jpg" /><br>
    !<br><br>
    <img src="/images/gallery/sketch/1/sketch6.jpg" /><br>
    I feel like the top guy if a student says something dumb...<br>
    <img src="/images/gallery/sketch/1/sketch7.jpg" /><br>
    I feel like this if a student says something in class when he really should have never, ever, ever opened his mouth<br><br>
    <img src="/images/gallery/sketch/1/sketch8.jpg" /><br>
    The PDA police were called in one day when people were kissing during class... it was a bit weird when they came in but afterwards everyone was actually better off.<br><br>
    <img src="/images/gallery/sketch/1/sketch9.jpg" /><br>
    <br><br>
    <img src="/images/gallery/sketch/1/sketch10.jpg" /><br>
    hehehe<br><br>
    <img src="/images/gallery/sketch/1/sketch11.jpg" /><br>
    I think I was feeling exasperated during this class...<br><br>
    <img src="/images/gallery/sketch/1/sketch12.jpg" /><br>
    Top left is how I feel in many classes... bleaughhhh... the guy on the bottom is a prof.  He usually says what he's saying on the left and never does what he's doing on the right.<br><br>
    <img src="/images/gallery/sketch/1/sketch15.jpg" /><br>
    It's that prof again, plus another!  The prof on the right says that a lot too.  I reacted to the left prof's exuberance about life by immortalizing it in graphite.<br><br>
    <img src="/images/gallery/sketch/1/sketch13.jpg" /><br>
    Shortest path algorithms and shocked knights!<br><br>
    <img src="/images/gallery/sketch/1/sketch14.jpg" /><br>
    Mmmm!  Babies!  Adorable!<br><br>
    <img src="/images/gallery/sketch/1/sketch16.jpg" /><br>
    An extremely attractive man came to class this one time.  The teacher said that he may have come to our planet from FOURTH-DIMENSIONAL SPACE.<br><br>
    <img src="/images/gallery/sketch/1/sketch17.jpg" /><br>
    self-explanatory... (is it racist to specify what is for lunch today?)<br><br>
    <img src="/images/gallery/sketch/1/sketch18.jpg" /><br>
    ANSWER THE QUESTION!<br><br>
    <img src="/images/gallery/sketch/1/sketch19.jpg" /><br>
    Who the heck is that guy?  You should probably ask him out on a date.<br><br>
    <img src="/images/gallery/sketch/1/sketch20.jpg" /><br>

    <img src="/images/gallery/sketch/1/sketch21.jpg" /><br>
    This class was pretty good.  The teacher gave us nice, big, comprehensive outlines with lots of white space.<br><br>
</div>
{% endblock %}