{% extends 'includes/layouts/commonLayoutWithNav.html' %}

{% block title %}Sketches #3 &laquo; {% parent %}{% endblock %}

{% block content %}

<div class="gallery-sketch-container">
    <img src="/images/gallery/sketch/3/sketch22.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/3/sketch23.png" /><img src="/images/gallery/sketch/3/sketch24.png" /><br>
    Beer & Circus, eh? Sounds lovely!
    <br><br>
    <img src="/images/gallery/sketch/3/sketch25.png" /><br>
    LOOK OUT IT'S HIM AGAIN
    <br><br>
    <img src="/images/gallery/sketch/3/sketch26.png" /><br>
    There's a bit of chibiage in there.
    <br><br>
    <img src="/images/gallery/sketch/3/sketch27.png" /><br>

    Harry Potter fanart! WHEEEEEEE!  The girl is a sort of nondescript Hermione.
    <br><br>
    <img src="/images/gallery/sketch/3/sketch28.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/3/sketch29.png" /><br>
    That sax-playing muppet is totally rad.  AND TOAD GAWN MESS YOU UP<BR>
    I FAILED TO FIND TOAD AS A PLAYABLE CHARACTER IN SMASH BROS BRAWL, NINTENDO, AND LET'S JUST BOTH HOPE HE'S IN THERE SOMEWHERE DARN IT
    <br><br>

    <img src="/images/gallery/sketch/3/sketch45.png" /><br>
    This is another muppet that probably appears infrequently!
    <br><br>
    <img src="/images/gallery/sketch/3/sketch30.png" /><br>
    Wind Waker! What a gorgeous game!
    <br><br>
    <img src="/images/gallery/sketch/3/sketch31.png" /><br>
    MR. <B>PIGSBY!</B> YOU'VE DONE IT AGAIN, YOU SCOUNDREL!
    <br><br>
    <img src="/images/gallery/sketch/3/sketch32.png" /><br>
    Some these people are real, and some of these people are me!
    <br><br>
    <img src="/images/gallery/sketch/3/sketch33.png" /><br>
    The unmistakable signs of strenuous note-taking myesssss
    <br><br>
    <img src="/images/gallery/sketch/3/sketch34.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/3/sketch35.png" /><br>
    Why! It's Mister McTurtle!<BR>I say!<BR><BR>
    I myself happen to possess a great deal of "Mighty Muscle! POWER"
    <br><br>
    <img src="/images/gallery/sketch/3/sketch36.png" /><br>
    GHUNNNNNNNZZZZZzZzz
    <br><br>
    <img src="/images/gallery/sketch/3/sketch37.png" /><br>
    The stupidity police at my college were woefully absent in many times of great need.
    <br><br>
    <img src="/images/gallery/sketch/3/sketch38.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/3/sketch39.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/3/sketch40.png" /><br>
    Is that you, Chibi Link?
    <br><br>
    <img src="/images/gallery/sketch/3/sketch41.png" /><br>
    The hairy one with horns is perhaps Irenaus or Augustine? According to the notes?
    <br><br>
    <img src="/images/gallery/sketch/3/sketch42.png" /><br>
    Attempts at drawing Kimura-sensei quickly give way to rage, then wrath, as the gum-chewers around me do their thing.<BR>I really hate the sound of chewing in a quiet place.  Don't chew things in class, for crying out loud. It's gross.
    <br><br>
    <img src="/images/gallery/sketch/3/sketch43.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/3/sketch44.png" /><br>
    It's the main character from Doukutsu Monogatari, AKA Cave Story!  <BR>PLAY THIS GAME!  It's freeeeeeeee for your computer!  I'll link to it soon.

</div>

{% endblock %}