{% extends 'includes/layouts/commonLayoutWithNav.html' %}

{% block title %}Sketches #5 &laquo; {% parent %}{% endblock %}

{% block content %}

<div class="gallery-sketch-container">
    <img src="/images/gallery/sketch/5/sketch74.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch75.png" /><br>
    THE OLD MAN HAS SOME WORDS TO SHARE WITH US
    <br><br>
    <img src="/images/gallery/sketch/5/sketch76.png" /><br>
    Paul you do not draw chibi things usually
    <br><br>
    <img src="/images/gallery/sketch/5/sketch77.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch78.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch79.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch80.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch81.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch82.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch83.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch84.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch85.png" /><br>
    Don't you wish YOU were as helpful as Alicia?
    <br><br>
    <img src="/images/gallery/sketch/5/sketch86.png" /><br>
    THE DREADED STUPIDITY DRAGON STRIKES AGAIN
    <br><br>
    <img src="/images/gallery/sketch/5/sketch87.png" /><br>
    <br><br>
    <img src="/images/gallery/sketch/5/sketch88.png" /><br>
    Why yes, that man growing out of the T-bone steak does, in fact, represent a quick and accurate summary of my worldview.
    <br><br>
    <img src="/images/gallery/sketch/5/sketch89.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch90.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch91.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch92.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch93.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/5/sketch94.png" /><br>
    I guess I draw people holding guns out to the side sometimes.
    <br><br>
    <img src="/images/gallery/sketch/5/sketch95.png" /><br>
    Could that be a frothy, salt-tinged sea of DEBATE over there to the right?
    <br><br>
    <img src="/images/gallery/sketch/5/sketch97.png" /><br>
    BAAAAAAAAAAAAAAAD POSTURE BAAAAAAD
</div>

{% endblock %}