{% extends 'includes/layouts/commonLayoutWithNav.html' %}

{% block title %}Sketches #2 &laquo; {% parent %}{% endblock %}

{% block content %}

<div class="gallery-sketch-container">
    <img src="/images/gallery/sketch/2/sk0.png" /><br>
    Filling my sketchbooks! Crowding out my class notes! Severed and piled high in my closets! Indeed, human heads are the story of my life.<BR><BR>
    <img src="/images/gallery/sketch/2/sk1.png" /><br>
    I saw a lady with a big nose once, and it made her look very friendly.  So I drew her! Yay! I SAW ANOTHER GIRL AND I DREW HER TOO<BR><BR>
    <img src="/images/gallery/sketch/2/sk2.png" /><br>
    <img src="/images/gallery/sketch/2/sk3.png" /><br>
    Mill!<BR><BR>
    <img src="/images/gallery/sketch/2/sk7.png" /><br>
    Mill Mill Mill Mill Mill<BR><BR>

    <img src="/images/gallery/sketch/2/sk8.png" /><br>
    MILLY MILLY MILL MILL MILL and another guy<BR><BR><BR>
    <BR><BR>And now for the first and only episode of a fantastic <b>Adventure Story!</b><BR><BR>
    <img src="/images/gallery/sketch/2/sk5.png" /><br>
    And that about sums up my college experience!<BR><BR>
    <img src="/images/gallery/sketch/2/sk4.png" /><br>
    I like this angry girl.<BR><BR>
    <img src="/images/gallery/sketch/2/sk9.png" /><br>
    After reading a P.D. James book, I don't think guns are very cool anymore.  They seem much more real and dangerous to me than, for example, swords.<BR><BR>

    <img src="/images/gallery/sketch/2/sk10.png" /><br>
    The guy with the pencil is going to drop some fresh draws right here, right now.<BR><BR>
    <img src="/images/gallery/sketch/2/sk11.png" /><br>
    "THAT THING WHAT IT IS?"<BR>
    Don't you hate it when you're minding your own business, but then someone's all like, "SHIRTLESS GUNFIGHT!"<BR><BR>
    <img src="/images/gallery/sketch/2/sk12.png" /><br>
    yeeeeeeeeEEEELLLLLLLDerly peeeeeeoopllllle<BR><BR>
    <img src="/images/gallery/sketch/2/sk13.png" /><br>
    My 2004 summer wasn't as full of Real Life Adventure as my schoolytimes.  So: slack-jawed gaming, drawing (without a shirt on?), slack-jawed illness-related bed-sleeping, writing frustrating papers for an online English class, and jogging.  In those days I didst draw with the light of inspiration about my crown, and with the light of shirtlessness about my torso.<BR><BR>
    <img src="/images/gallery/sketch/2/sk14.png" /><br>
    <img src="/images/gallery/sketch/2/sk15.png" /><br>
    Little girl vs. evil alchemist man!<BR><BR>
    <img src="/images/gallery/sketch/2/sk16.png" /><br>
    <img src="/images/gallery/sketch/2/sk18.png" /><br>
    Yays for Akka!<BR><BR>


    <img src="/images/gallery/sketch/2/sk20.png" /><br><BR>
    These crayon drawings are from when I drew with my cousins once, and it was sweet.<BR><BR>

    <img src="/images/gallery/sketch/2/sk29.png" /><br>
    One of my cousins described this scene for me to draw, and it was awesome, and I want my principal to look like that.<BR><BR>
    <img src="/images/gallery/sketch/2/sk22.png" /><br>
    READnz<BR><BR>
    <img src="/images/gallery/sketch/2/sk23.png" /><br>
    <img src="/images/gallery/sketch/2/sk25.png" /><br>
    RARRR<BR><BR>
    <img src="/images/gallery/sketch/2/sk24.png" /><br>
    Remember the "Lemmings" games? Well, this is a tall lemming detective.<BR>He puts Mystery in his pipe and he smokes it, yes he does.<BR><BR>
    <img src="/images/gallery/sketch/2/sk26.png" /><br>
    Frog-boy's date was nearly ruined by the tiny flying man.<BR><BR>
    <img src="/images/gallery/sketch/2/sk27.png" /><br>
    It's a reeeeeaaaalllll person<BR><BR>
    <img src="/images/gallery/sketch/2/sk28.png" /><br>
    A schoolmate described this beast to me and asked me to draw it!<BR><BR>

    <img src="/images/gallery/sketch/2/sk30.png" /><br>
    <BR><BR>

    <img src="/images/gallery/sketch/2/sk33.jpg" /><br>
    <BR><BR>
    <img src="/images/gallery/sketch/2/sk31.png" /><br>
    HEADS, and the bottom one is neato.
    <BR><BR>
    <img src="/images/gallery/sketch/2/sk32.png" /><br>
    When I'm done with the King Ranji comic, I want to make a comic about Officer Brave.  <BR>So... that'll maybe happen around 2018?<BR><BR>

    <img src="/images/gallery/sketch/2/sk34.jpg" /><br>
    This is a sketch I like, but it doesn't quite merit a spot in the pencil drawings area.<BR><BR>
    <img src="/images/gallery/sketch/2/sk35.jpg" /><br>
    I drew this knight for a shirt for my wing in college.<BR><BR>
    <img src="/images/gallery/sketch/2/sk36.jpg" /><br>
    A colory sketch! Maybe it will give you a special feeling in the heart!<BR><BR>
    <img src="/images/gallery/sketch/2/sk37.jpg" /><br>
    Ah yes! Perhaps this picture shows that I am going "insane in the membrane."<BR><BR>
    <img src="/images/gallery/sketch/2/sk38.jpg" /><br>
    A colory sketch that I like.<BR><BR>
    <img src="/images/gallery/sketch/2/sk39.jpg" /><br>
    A BLAST FROM THE NOT-SO-DISTANT PAST
</div>

{% endblock %}