{% extends 'includes/layouts/commonLayoutWithNav.html' %}

{% block title %}Sketches #4 &laquo; {% parent %}{% endblock %}

{% block content %}

<div class="gallery-sketch-container">
    <img src="/images/gallery/sketch/4/sketch66.png" /><br>
    Looking at this creeps me out.  It's like dreaming of something recognizable, but knowing that something's <BR>not quite right about it.<BR><BR>I originally thought I'd give Gunrick huge bug-eyes, but they always looked too weird. I kept toning them down until they looked completely normal (this shows a transitional eye-size).  And now Gunrick seems to be the most normal person in the comic.  That makes one normal character out of three so far : )<BR><BR>I also thought I'd draw the Ranji comic in pencil, but I hated drawing on big pieces of paper, then trying to fenagle them into my small scanner.  So now I'm "Wacko for Wacom" instead, or something like that.
    <br><br>
    <img src="/images/gallery/sketch/4/sketch49.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch50.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch51.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch52.png" /><br>
    CREEPY EYEBALLS!
    <br><br>
    <img src="/images/gallery/sketch/4/sketch53.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch54.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch55.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch56.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch57.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch58.png" /><br>
    In these notes I discovered an equation that works out to Infinity Babies!<BR>ANOTHER GLORIOUS VICTORY FOR SCIENCE
    <br><br>
    <img src="/images/gallery/sketch/4/sketch59.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch60.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch61.png" /><br>
    Looks like I'm about to stab somebody offscreen!  Boy, is it ever good to be out of school.
    <br><br>
    <img src="/images/gallery/sketch/4/sketch62.png" /><br>
    A Brave Knight beshouldered with a squirrel!
    <br><br>
    <img src="/images/gallery/sketch/4/sketch63.png" /><br>
    My facial hair gives me special powers, kind of like Samson!
    <br><br>
    <img src="/images/gallery/sketch/4/sketch64.png" /><br>
    The drawings in the right column here are how I draw when I'm really tired and delirious.
    <br><br>
    <img src="/images/gallery/sketch/4/sketch65.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch67.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch68.png" /><br>
    hehe... Ranji looks cute this way.
    <br><br>
    <img src="/images/gallery/sketch/4/sketch69.png" /><br>
    Entity-Relationship Diagrams AND HEADS
    <br><br>
    <img src="/images/gallery/sketch/4/sketch70.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch71.png" /><br>
    Sometimes I spice up my notebook-drawings with a little SQL to make them SQ-awesome.
    <br><br>
    <img src="/images/gallery/sketch/4/sketch72.png" /><br>

    <br><br>
    <img src="/images/gallery/sketch/4/sketch73.png" /><br>
    It's supposed to be Odin!
</div>

{% endblock %}