{% extends 'includes/layouts/commonLayoutWithNav.html' %}

{% block title %}Wacom Practice &laquo; {% parent %}{% endblock %}

{% block content %}

<div class="gallery-sketch-container">
    I mostly draw these days using a Wacom Intuos3, and these the first five drawing files I made with that.  It was suprisingly easy to learn how to use it.<br><br>
    <img src="/images/gallery/sketch/wacom/tablet1.jpg" /><br>
    First I dinked around with settings...<br><br>
    <img src="/images/gallery/sketch/wacom/tablet2.jpg" /><br>
    Then I learned all about coloring things with layers...<br><br>
    <img src="/images/gallery/sketch/wacom/tablet3.jpg" /><br>
    Then I drew how I felt in mostly color (I felt: end of school is close, I want to leave right the heck now)...<br><br>
    <img src="/images/gallery/sketch/wacom/tablet4.jpg" /><br>
    Then I drew a little dude - a full color thing...<br><br>
    <img src="/images/gallery/sketch/wacom/tablet5.jpg" /><br>
    Then I tried to polish the smoothness of my lines.<br><br>
    All in all, I love my tablet.  It makes drawing easier and opens up new possibilities.
    My experience is that tablet drawing isn't all that hard to get used to after paper drawing, either.  W00t-action heroes!<br><br>
</div>

{% endblock %}