{% extends 'includes/layouts/masterLayout.html' %}

{% block content %}
<div>
    <div class="warnerburg-splash-link">
        <a href="[[ common.gallery.url ]]"><img class="warnerburg-splash-link-image" src="[[ common.gallery.image ]]" /></a>
    </div>
    <div class="warnerburg-splash-link">
        <a href="[[ common.comic.url ]]"><img class="warnerburg-splash-link-image" src="[[ common.comic.image ]]" /></a>
    </div>
    <div class="warnerburg-splash-link">
        <a href="[[ common.links.url ]]"><img class="warnerburg-splash-link-image" src="[[ common.links.image ]]" /></a>
    </div>
    <div class="warnerburg-splash-link">
        <a href="[[ common.info.url ]]"><img class="warnerburg-splash-link-image" src="[[ common.info.image ]]" /></a>
    </div>
</div>
{% endblock %}