<form id="admin-form" ng-submit="commitChanges()">
    <div class="admin-header-options">
        <div class="admin-header-button-container">
            <div class="admin-header-center">
                <h1 class="admin-header-label">
                    {{ adminHeaderLabel }}
                </h1>
            </div>
        </div>
    </div>
    <div class="admin-page-content admin-category-list">
        <div class="admin-category" ng-repeat="category in categories">
            <a data-category-dynamic-state-href="" href="#">{{category}}</a>
        </div>
    </div>
</form>