<div class="image-picker-preview">
    <a class="image-picker-preview-image-link" href="#" data-toggle-image-picker-selection-options="" ><img ng-class="'image-picker-preview-image '+ (displayImageClass ? displayImageClass : (imageClass ? imageClass : 'image-picker-image-default-dims'))" ng-src="{{selectedImage}}" />{{selectedImage ? '' : 'no image selected'}}</a>
    <div class="image-picker-dropzone-template"></div>
    <div class="image-picker-selection-option-display-footer"><a href="#" data-toggle-image-picker-selection-options="">{{selectedImage ? 'change' : 'select'}}</a> - <a href="#" class="image-picker-upload-link">add new</a></div>
    <div class="upload-results"></div>
</div>
<div class="image-picker-selection-option-display">
    <div class="image-picker-selection-option-display-header" ng-bind="selectionOptionsLabel"></div>
    <div ng-class="'image-picker-selection-option '+(imageClass ? imageClass : 'image-picker-container-default-dims')" ng-repeat="image in images">
        <a href="#"
           data-use-as-image-on-click=""
           data-update-function="updateFunction"
           data-image-to-use="{{image}}"><img ng-class="(imageClass ? imageClass : 'image-picker-image-default-dims')" ng-src="{{image}}"></a>
    </div>
    <div class="image-picker-selection-option-display-footer">
        <a href="#" data-toggle-image-picker-selection-options="" >back</a> - <a href="#" class="image-picker-upload-link">add new</a>
    </div>
</div>