<form id="admin-form" ng-submit="commitReorderingChanges()">
    <div class="admin-header-options">
        <div class="admin-header-button-container">
            <div class="admin-header-left">
                <a ui-sref="main" class="admin-text-link" href="#">&laquo; back to category list</a>
            </div>
            <div class="admin-header-right">
                <input class="admin-reorder-button" disabled="disabled" type="submit" value="Commit Reordering Changes"/>
            </div>
            <div class="admin-header-center">
                <h1 class="admin-header-label">
                    {{ adminHeaderLabel }}
                </h1>
            </div>
        </div>
    </div>
    <ul id="content-grid" class="sortable-grid admin-page-content" ng-model="contents" ui-sortable="sortableOptions">
        <li class="content-grid-item" ng-repeat="content in contents">
            <div class="content-thumbnail-image-overlay">
                <div class="content-thumbnail-image-overlay-text">
                    <div class="content-thumbnail-image-overlay-sequence-number-text">{{ content.sequenceNumber }}</div>
                    <div class="content-thumbnail-image-overlay-date-text">{{ content.createdDate | date : 'MM/dd/yy' }}</div>
                </div>
            </div>
            <div class="content-thumbnail-image-container">
                <img ng-src="{{ content.image }}" class="content-thumbnail-image"/>
            </div>
            <input class="content-sequence-number-field" type="text" ng-model="content.sequenceNumber" value="{{content.sequenceNumber}}"/>
            <input class="content-original-sequence-number-field" type="text" ng-model="content.originalSequenceNumber" value="{{content.originalSequenceNumber}}"/>
        </li>
    </ul>
</form>