<form id="admin-form" ng-submit="commitContentChanges()">
    <div class="admin-header-options">
        <div class="admin-header-button-container">
            <div class="header-option-container">
                <span class="image-container-aligner"></span>
                <div class="admin-header-left">
                    <a data-category-dynamic-state-href="" data-category="{{category}}" class="admin-text-link" href="#">&laquo; back to {{ category }} list</a>
                </div>
                <div class="admin-header-center">
                    <h1 class="admin-header-label">
                        {{ adminHeaderLabel }}
                    </h1>
                </div>
                <div class="admin-header-right">
                    <span class="content-save-message"></span>
                    <input type="submit" value="Save"/>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-page-content">
        <div class="admin-page-content-field-table-container">
            <div class="admin-page-content-field-table">

                <div class="admin-page-content-field-row">
                    <div class="admin-page-content-field-label">Publish Date</div>
                    <div class="admin-page-content-field">
                        <div class="date-time-picker-container">
                            <input data-admin-date-picker="" id="admin-publish-date" ng-model="content.publishDateForDisplay" />
                        </div>
                    </div>
                </div>
                <div class="admin-page-content-field-row" >
                    <div class="admin-page-content-field-label">Author Pic</div>
                    <div class="admin-page-content-field content-image-picker"
                         id="author-pic-drop-zone"
                         data-content-image-picker=""
                         data-images="authorPics"
                         data-selected-image="content.authorPicture"
                         data-update-function="updateAuthorPic(image, pickerBaseElementId)"
                         data-selection-options-label="'select author pic:'"
                         data-upload-url="authorPicUploadUrl">
                    </div>
                </div>
                <div class="admin-page-content-field-row">
                    <div class="admin-page-content-field-label">Text</div>
                    <div class="admin-page-content-field">
                        <textarea id="admin-content-text" data-ck-editor="" ng-model="content.text" ></textarea>
                    </div>
                </div>
                <div class="admin-page-content-field-row">
                    <div class="admin-page-content-field-label">Image</div>
                    <div class="admin-page-content-field content-image-picker"
                         id="content-image-drop-zone"
                         data-content-image-picker=""
                         data-images="images"
                         data-selected-image="content.image"
                         data-update-function="updateContentImage(image, pickerBaseElementId)"
                         data-selection-options-label="'select image:'"
                         data-upload-url="imageUploadUrl">
                    </div>
                </div>
                <div class="admin-page-content-field-row">
                    <div class="admin-page-content-field-label">Title</div>
                    <div class="admin-page-content-field">
                        <input ng-model="content.title" value="content.title" />
                    </div>
                </div>
                <div class="admin-page-content-field-row">
                    <div class="admin-page-content-field-label">Section</div>
                    <div class="admin-page-content-field content-text-picker" id="section-text-picker">
                        <div class="existing-options-selection-display">
                            <div>
                                <select ng-model="content.section" value="content.section" ng-options="section for section in sections"/>
                            </div>
                            <div class="text-picker-link-options">
                                <a href="#" data-toggle-text-entry-display="">add new</a>
                            </div>
                        </div>
                        <div class="new-option-entry-display">
                            <div data-add-new-text-option="" data-add-function="addNewSection(section)">
                                <input type="text" class="new-text-option" />
                                <input type="button" value="add" class="submit-new-text-option"/>
                            </div>
                            <div class="text-picker-link-options">
                                <a href="#" data-toggle-text-entry-display="">back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>