<form id="admin-form" ng-submit="commitSectionChanges()">
    <div class="admin-header-options">
        <div class="admin-header-button-container">
            <div class="header-option-container">
                <span class="image-container-aligner"></span>
                <div class="admin-header-left">
                    <a data-category-dynamic-state-href="" data-category="{{category}}" class="admin-text-link" href="#">&laquo; back to {{ category }} list</a>
                </div>
                <div class="admin-header-center">
                    <h1 class="admin-header-label">
                        {{ adminHeaderLabel }}
                    </h1>
                </div>
                <div class="admin-header-right">
                    <span class="content-save-message"></span>
                    <input type="submit" value="Save"/>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-page-content">
        <div class="admin-page-content-field-table-container">
            <div class="admin-page-content-field-table">

                <div class="admin-page-content-field-row">
                    <div class="admin-page-content-field-label">Section Name</div>
                    <div class="admin-page-content-field">
                        <input ng-model="sectionName" type="text" />
                    </div>
                </div>
                <div class="admin-page-content-field-row">
                    <div class="admin-page-content-field-label">Thumbnail Image</div>
                    <div class="admin-page-content-field content-image-picker"
                         id="thumbnail-drop-zone"
                         data-content-image-picker=""
                         data-images="thumbnails"
                         data-selected-image="thumbnailImageUrl"
                         data-update-function="updateThumbnailImage(image, pickerBaseElementId)"
                         data-selection-options-label="'select thumbnail image:'"
                         data-upload-url="thumbnailUploadUrl">
                    </div>
                </div>
                <div class="admin-page-content-field-row">
                    <div class="admin-page-content-field-label">Description Image</div>
                    <div class="admin-page-content-field content-image-picker"
                         id="description-image-drop-zone"
                         data-content-image-picker=""
                         data-images="descriptionImages"
                         data-selected-image="descriptionImageUrl"
                         data-update-function="updateDescriptionImage(image, pickerBaseElementId)"
                         data-selection-options-label="'select description image:'"
                         data-upload-url="descriptionImageUploadUrl"
                         data-image-class="'image-picker-image-archives'">
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>