<form id="admin-form" ng-submit="commitReorderingChanges()">
    <div class="admin-header-options">
        <div class="admin-header-button-container">
            <div class="header-option-container">
                <span class="image-container-aligner"></span>
                <div class="admin-header-left">
                    <a ui-sref="main" class="admin-text-link" href="#">&laquo; back to category list</a>
                </div>
                <div class="admin-header-center">
                    <h1 class="admin-header-label">
                        {{ adminHeaderLabel }}
                    </h1>
                </div>
                <div class="admin-header-right">
                    <input type="button" value="Add New"/>
                    <input class="admin-reorder-button" disabled="disabled" type="submit" value="Commit Reordering Changes"/>
                </div>
            </div>
        </div>
    </div>
    <div class="category-admin-page-content">
        <div ng-repeat="(section, contents) in sections" class="content-grid-container" data-connected-sortable-repeater="">
            <h2 class="section-label" data-edit-section-on-double-click="" >Section {{section}}</h2>
            <ul class="admin-content-grid" data-section="{{section}}">
                <li class="content-grid-item" ng-repeat="content in contents" ng-dblclick="editContentItem(category, content.sequenceNumber)">
                    <div class="content-thumbnail-image-overlay">
                        <div class="content-thumbnail-image-change-indicator-overlay">
                            <span class="image-container-aligner"></span>
                            <div class="content-thumbnail-image-overlay-text-container">
                                <div class="content-thumbnail-image-overlay-sequence-number-text">
                                    {{ content.sequenceNumber }}
                                </div>
                                <div class="content-thumbnail-image-overlay-date-text">
                                    {{ content.publishDate | date : 'MM/dd/yy' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-thumbnail-image-container">
                        <span class="image-container-aligner"></span>
                        <img ng-src="{{ content.image }}" class="content-thumbnail-image"/>

                    </div>
                    <input class="content-admin-field content-sequence-number-field" type="text" ng-model="content.sequenceNumber" value="{{content.sequenceNumber}}"/>
                    <input class="content-admin-field content-previous-sequence-number-field" type="text" ng-model="content.previousSequenceNumber" value="{{content.previousSequenceNumber}}"/>
                    <input class="content-admin-field content-original-sequence-number-field" type="text" ng-model="content.originalSequenceNumber" value="{{content.originalSequenceNumber}}"/>
                    <input class="content-admin-field content-section-field" type="text" ng-model="content.section" value="{{content.section}}"/>
                    <input class="content-admin-field content-previous-section-field" type="text" ng-model="content.previousSection" value="{{content.previousSection}}"/>
                    <input class="content-admin-field content-original-section-field" type="text" ng-model="content.originalSection" value="{{content.originalSection}}"/>
                </li>
                <li class="content-grid-item new-item-placeholder" ng-dblclick="addNewContentItem(category)" ng-if="$last">
                    <div class="content-thumbnail-image-overlay">
                        <div class="content-thumbnail-image-change-indicator-overlay">
                            <span class="image-container-aligner"></span>
                            <div class="content-thumbnail-image-overlay-text-container">
                                <div class="add-new-content-message">
                                    add<br>new
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</form>