<div class="warnerburg-narrow-header-container table-container" >
    <div class="warnerburg-narrow-header">
        <div class="warnerburg-narrow-header-link">
            <a href="[[ common.home.url ]]"><img class="warnerburg-link-image" src="[[ common.home.image ]]" /></a>
        </div>
        <div class="warnerburg-narrow-header-link">
            <a href="[[ common.gallery.url ]]"><img class="warnerburg-link-image {% if area == 'gallery' %}warnerburg-selected-link-image{% endif %}"  src="[[ common.gallery.image ]]" /></a>
        </div>
        <div class="warnerburg-narrow-header-link">
            <a href="[[ common.comic.url ]]" ><img class="warnerburg-link-image {% if area == 'comic' %}warnerburg-selected-link-image{% endif %}" src="[[ common.comic.image ]]" /></a>
        </div>
        <div class="warnerburg-narrow-header-link">
            <a href="[[ common.store.url ]]"><img class="warnerburg-link-image {% if area == 'store' %}warnerburg-selected-link-image{% endif %}" src="[[ common.store.image ]]" /></a>
        </div>
        <div class="warnerburg-narrow-header-link">
            <a href="[[ common.info.url ]]"><img class="warnerburg-link-image {% if area == 'info' %}warnerburg-selected-link-image{% endif %}" src="[[ common.info.image ]]" /></a>
        </div>
    </div>
</div>