body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

a:link {color: #000000}
a:visited {color: #000000}
a:hover {color: #AAAAAA}
a:active {color: #000000}

.outermost-container {
    text-align: center;
}

.warnerburg-narrow-header-container {
    margin: 0 auto;
    width: 806px;
    padding-bottom: 25px;
}

.warnerburg-narrow-header-row {
    display: table-row;
}

.warnerburg-narrow-header-link {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    width:184px;
}

.comic-container {
    width: 796px;
    margin: 0 auto;
}

.table-container {
    display: table;
    margin: 0 auto;
    border-collapse: collapse;
    border-width: 0;
    border-spacing: 0;
}

.comic-nav-header-container {
    width: 796px;
}

.comic-nav-header-row {
    display: table-row;
}

.comic-nav-header-sequence-number-cell {
    text-align: left;
    display: table-cell;
    position: relative;
    bottom: 5px;
}

.comic-nav-header-buttons-cell {
    text-align: center;
    display: table-cell;
}

.comic-nav-header-publish-date-cell {
    text-align: right;
    display: table-cell;
    position: relative;
    bottom: 5px;
}

.footer-message {
    text-align: center;
    font-style: italic;
    color: #AAAAAA;
}

.comic-nav-footer-container {
    width:800px;
}

.comic-nav-footer-links {
    display: table-row;
}

.comic-nav-footer-link {
    display: table-cell;
    text-align: center;
    width: 160px;
}

.blog-post-container {
    width: 796px;
    border: 2px solid black;
    margin: 0 auto;
}

.blog-post-elements {
    display: table-row;
    width: 100%;
 }

.blog-post-author-pic {
    display: table-cell;
    vertical-align: top;
    padding: 7px;
}

.blog-post-content {
    display: table-cell;
    vertical-align: top;
    padding: 7px;
    text-align: left;
}

.comic-comment-count-container {
    text-align: center;
    width: 796px;
    margin: 0 auto;
    padding-top: 5px;
}

.comic-comment-count {
    text-align: right;
    width: 100%;
}

.comic-comments-header {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
    font-size: 14pt;
}

.comic-comments {
    text-align: left;
}

.comic-comments-container {
    padding-top: 5px;
    width: 796px;
    margin: 0 auto;
    display: none;
}

.comic-comment-container {
    width: 100%;
    text-align: left;
    padding: 5px;
}

.comic-comment-elements {
    display: table-row;
}

.comic-comment-index {
    display: table-cell;
    padding: 5px;
}

.comic-comment-content {
    display: table-cell;
    padding: 5px;
}

.comic-comment-text {
    padding-bottom: 10px;
}

.comic-comment-details {
    padding-bottom: 15px;
}

.comic-comment-details {
    color: #AAAAAA;
    font-style: italic;
}