{% extends 'includes/layouts/commonLayout.html' %}

{% block title %}Comic &laquo; {% parent %}{% endblock %}

{% block content %}
    <div class="comic-nav-header-container table-container">
        <div class="comic-nav-header-row">
            <div class="comic-nav-header-sequence-number-cell">
                <img src="/images/details/labels/comic.jpg" />
                <img src="/images/details/labels/sharp.jpg" />{% for sequenceNumberElement in comic.sequenceNumberElements %}<img src="/images/details/labels/[[sequenceNumberElement]].jpg">{% endfor %}
                {% if comic.isLast %}<img src="/images/details/labels/latest.jpg" />{% endif %}
            </div>
            <div class="comic-nav-header-buttons-cell">
                {% if not comic.isFirst %}
                    <img class="warnerburg-link-image" link="[[ common.comicUrl ]]/1" src="/images/navigation/firstdarks.jpg" />
                    <img class="warnerburg-link-image" link="[[ common.comicUrl ]]/[[ comic.sequenceNumber - 1 ]]" src="/images/navigation/prevdarks.jpg" />
                {% endif %}
                <img class="warnerburg-link-image" link="[[ common.archivesUrl ]]" src="/images/navigation/archivesdarks.jpg" />
                {% if not comic.isLast %}
                    <img class="warnerburg-link-image" link="[[ common.comicUrl ]]/[[ comic.sequenceNumber + 1 ]]" src="/images/navigation/nextdarks.jpg" />
                    <img class="warnerburg-link-image" link="[[ common.comicUrl ]]" src="/images/navigation/lastdarks.jpg" />
                {% endif %}
            </div>
            <div class="comic-nav-header-publish-date-cell">
                {% for dateElement in comic.createdDateElements %}<img src="/images/details/labels/[[dateElement]].jpg">{% endfor %}
            </div>
        </div>
    </div>
    <div class="comic-container">
        <img id="comic-image" src="[[ comic.image ]]" />
    </div>
    <div class="comic-nav-footer-container table-container">
        <div class="comic-nav-footer-links">
            <div class="comic-nav-footer-link">
                {% if not comic.isFirst %}
                    <img class="warnerburg-link-image" link="[[ common.comicUrl ]]/1" src="/images/navigation/firstdark.jpg" />
                {% endif %}
            </div>
            <div class="comic-nav-footer-link">
                {% if not comic.isFirst %}
                    <img class="warnerburg-link-image" link="[[ common.comicUrl ]]/[[ comic.sequenceNumber - 1 ]]" src="/images/navigation/prevdark.jpg" />
                {% endif %}
            </div>
            <div class="comic-nav-footer-link">
                <img class="warnerburg-link-image" link="[[ common.archivesUrl ]]" src="/images/navigation/archivesdark.jpg" />
            </div>
            <div class="comic-nav-footer-link">
                {% if not comic.isLast %}
                    <img class="warnerburg-link-image" link="[[ common.comicUrl ]]/[[ comic.sequenceNumber + 1 ]]" src="/images/navigation/nextdark.jpg" />
                {% endif %}
            </div>
            <div class="comic-nav-footer-link">
                {% if not comic.isLast %}
                    <img class="warnerburg-link-image" link="[[ common.comicUrl ]]" src="/images/navigation/lastdark.jpg" />
                {% endif %}
            </div>
        </div>
    </div>

    <div id="blog-post-area">
        <div class="blog-post-container table-container">
            <div class="blog-post-elements">
                <div class="blog-post-author-pic">
                    <img src="[[ comic.authorPicture ]]" />
                </div>
                <div class="blog-post-content">
                    <div>[[ comic.text|safe ]]</div>
                </div>
            </div>
        </div>

        {% include "./includes/partials/comicComments.html" %}

        <div class="comic-rss-footer">

        </div>
    </div>
{% endblock %}

{% block footerIncludes %}
    {% parent %}
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/controllers/userComicComments.js"></script>
    <script type="text/javascript" src="/includes/js/comicPage.js"></script>
{% endblock %}