<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Warnerburg! King Ranji comics and drawings by Paul Warner.{% endblock %}</title>
    {% block headerIncludes %}
        <link rel="stylesheet" href="[[ common.mainCssUrl ]]" />
    {% endblock %}
</head>
<body>
    <div class="outermost-container">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
    {% block footerIncludes %}
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/loglevel/dist/loglevel.min.js"></script>
        <script src="/env/properties/common.properties.js"></script>
        <script id="warnerburg-logging-config" src="/env/logging/logging.config.js" data-environment-identifier="[[environment]]"></script>
        {% if environment == 'development' %}
            <script src="http://localhost:35729/livereload.js"></script>
        {% endif %}
    {% endblock %}
</body>
</html>