<div class="warnerburg-narrow-header-container table-container" >
    <div class="warnerburg-narrow-header">
        <div class="warnerburg-narrow-header-link">
            <a ng-href="{{ common.homeUrl }}"><img class="warnerburg-link-image" ng-src="{{ common.homeDark }}" /></a>
        </div>
        <div class="warnerburg-narrow-header-link">
            <a ng-href="{{ common.galleryUrl }}"><img class="warnerburg-link-image "  ng-src="{{ common.galleryDark }}" /></a>
        </div>
        <div class="warnerburg-narrow-header-link">
            <a ng-href="{{ common.comicUrl }}" ><img class="warnerburg-link-image " ng-src="{{ common.comicDark }}" /></a>
        </div>
        <div class="warnerburg-narrow-header-link">
            <a ng-href="{{ common.storeUrl }}"><img class="warnerburg-link-image " ng-src="{{ common.storeDark }}" /></a>
        </div>
        <div class="warnerburg-narrow-header-link">
            <a ng-href="{{ common.infoUrl }}"><img class="warnerburg-link-image " ng-src="{{ common.infoDark }}" /></a>
        </div>
    </div>
</div>