<div class="comic-comment-count-container">
    <div class="comic-comment-count">
        Leave a comment! - <a id="commentsLink" href="#">Comments ([[ comic.commentCount ]])</a>
    </div>
</div>
<div class="comic-comments-container" ng-app="userComicComments">
    <div ng-controller="userComicCommentsCtrl" comic-sequence-number="[[ comic.sequenceNumber ]]">
        <div class="comic-comments-header">
            {{ comments.length }} Comments:<br/>
            <hr/>
        </div>
        <div class="comic-comment-container table-container">
            <div class="comic-comment-elements" ng-repeat="comment in comments">
                <div class="comic-comment-index">{{ $index + 1 }}.</div>
                <div class="comic-comment-content">
                    <div class="comic-comment-text" ng-bind-html="comment.text"></div>
                    <div class="comic-comment-details">Comment by {{ comment.author }} -- {{ comment.commentDate }}</div>
                </div>
            </div>
        </div>

        <form ng-submit="createComment('[[ comic.sequenceNumber ]]', newComment)">
            <div>
                Name: <input type="text" ng-model="newComment.author" />
            </div>
            <div>
                Comment: <input type="text" ng-model="newComment.text" />
            </div>
            <div>
                <input type="submit" value="Submit Comment"/>
            </div>
        </form>
    </div>
</div>