<div class="warnerburg-narrow-header-container table-container" >
    <div class="warnerburg-narrow-header">
        <div class="warnerburg-narrow-header-link">
            <img src="[[ common.homeDark ]]" />
        </div>
        <div class="warnerburg-narrow-header-link">
            <img src="[[ common.galleryDark ]]" />
        </div>
        <div class="warnerburg-narrow-header-link">
            <img src="[[ common.comicLight ]]" />
        </div>
        <div class="warnerburg-narrow-header-link">
            <img src="[[ common.storeDark ]]" />
        </div>
        <div class="warnerburg-narrow-header-link">
            <img src="[[ common.infoDark ]]" />
        </div>
    </div>
</div>