<div class="warnerburg-narrow-header-container">
    <div class="table-container">
        <div class="warnerburg-narrow-header">
            <div class="narrow-header-link">
                <img src="[[ common.homeDark ]]" />
            </div>
            <div class="narrow-header-link">
                <img src="[[ common.galleryDark ]]" />
            </div>
            <div class="narrow-header-link">
                <img src="[[ common.comicLight ]]" />
            </div>
            <div class="narrow-header-link">
                <img src="[[ common.storeDark ]]" />
            </div>
            <div class="narrow-header-link">
                <img src="[[ common.infoDark ]]" />
            </div>
        </div>
    </div>
</div>