<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Warnerburg! King Ranji comics and drawings by Paul Warner.{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="[[ common.mainCssUrl ]]" />
</head>
<body>
    <div class="outermost-container">
        {% block content %}{% endblock %}
        <div class="warnerburg-footer">FOOTER</div>
    </div>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
</body>
</html>