{% extends 'includes/layouts/commonLayoutWithNav.html' %}

{% block title %}Comic &laquo; {% parent %}{% endblock %}

{% block content %}
    <div ng-app="comicPageModule" ng-controller="comicPageController" data-comic-sequence-number="[[ comic.sequenceNumber ]]">
        <div class="comic-nav-header-container table-container">
            <div class="comic-nav-header-row">
                <div class="comic-nav-header-sequence-number-cell">
                    <img src="/images/details/labels/comic.jpg" />
                    <img src="/images/details/labels/sharp.jpg" /><span data-display-comic-sequence-number="">{% for sequenceNumberElement in comic.sequenceNumberElements %}<img src="/images/details/labels/[[sequenceNumberElement]].jpg">{% endfor %}</span>
                    <img data-display-if-last-comic="" src="/images/details/labels/latest.jpg" {% if not comic.isLast %}class="invisible-nav-button"{% endif %}/>
                </div>
                <div class="comic-nav-header-buttons-cell">
                    <a href="[[ common.comicUrl ]]/1" data-first-comic-link="" {% if comic.isFirst %}class="invisible-nav-button"{% endif %}><img class="warnerburg-link-image" src="/images/navigation/firstdarks.jpg" /></a>
                    <a href="[[ common.comicUrl ]]/[[ comic.sequenceNumber - 1 ]]" data-previous-comic-link="" {% if comic.isFirst %}class="invisible-nav-button"{% endif %}><img class="warnerburg-link-image" src="/images/navigation/prevdarks.jpg" /></a>
                    <a href="[[ common.archivesUrl ]]"><img class="warnerburg-link-image" src="/images/navigation/archivesdarks.jpg" /></a>
                    <a href="[[ common.comicUrl ]]/[[ comic.sequenceNumber + 1 ]]" data-next-comic-link="" {% if comic.isLast %}class="invisible-nav-button"{% endif %}><img class="warnerburg-link-image" src="/images/navigation/nextdarks.jpg" /></a>
                    <a href="[[ common.comicUrl ]]" data-last-comic-link="" {% if comic.isLast %}class="invisible-nav-button"{% endif %}><img class="warnerburg-link-image" src="/images/navigation/lastdarks.jpg" /></a>
                </div>
                <div class="comic-nav-header-publish-date-cell" data-display-comic-created-date="">
                    {% for dateElement in comic.createdDateElements %}<img src="/images/details/labels/[[dateElement]].jpg">{% endfor %}
                </div>
            </div>
        </div>
        <div class="comic-container">
            <img id="comic-image" data-bind-src-after-first-model-change="comic.image" src="[[ comic.image ]]" />
        </div>
        <div class="comic-nav-footer-container table-container">
            <div class="comic-nav-footer-links">
                <div class="comic-nav-footer-link">
                    <a href="[[ common.comicUrl ]]/1" data-first-comic-link="" {% if comic.isFirst %}class="invisible-nav-button"{% endif %}><img class="warnerburg-link-image" src="/images/navigation/firstdark.jpg" /></a>
                </div>
                <div class="comic-nav-footer-link">
                    <a href="[[ common.comicUrl ]]/[[ comic.sequenceNumber - 1 ]]" data-previous-comic-link="" {% if comic.isFirst %}class="invisible-nav-button"{% endif %}><img class="warnerburg-link-image" src="/images/navigation/prevdark.jpg" /></a>
                </div>
                <div class="comic-nav-footer-link">
                    <a href="[[ common.archivesUrl ]]"><img class="warnerburg-link-image" src="/images/navigation/archivesdark.jpg" /></a>
                </div>
                <div class="comic-nav-footer-link">
                    <a href="[[ common.comicUrl ]]/[[ comic.sequenceNumber + 1 ]]" data-next-comic-link="" {% if comic.isLast %}class="invisible-nav-button"{% endif %}><img class="warnerburg-link-image" src="/images/navigation/nextdark.jpg" /></a>
                </div>
                <div class="comic-nav-footer-link">
                    <a href="[[ common.comicUrl ]]" data-last-comic-link="" {% if comic.isLast %}class="invisible-nav-button"{% endif %}><img class="warnerburg-link-image" src="/images/navigation/lastdark.jpg" /></a>
                </div>
            </div>
        </div>

        <div id="blog-post-area">
            <div class="blog-post-container table-container">
                <div class="blog-post-elements">
                    <div class="blog-post-author-pic">
                        <img src="[[ comic.authorPicture ]]" />
                    </div>
                    <div class="blog-post-content" data-bind-content-text-after-first-model-change="">
                        <div>[[ comic.text|safe ]]</div>
                    </div>
                </div>
            </div>

            {% include "./includes/partials/comicComments.html" %}

            <div class="comic-rss-footer">

            </div>
        </div>
    </div>
{% endblock %}

{% block footerIncludes %}
    {% parent %}
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/controllers/controller.page.comic.js"></script>
    <script type="text/javascript" src="/controllers/controller.page.comic.comments.js"></script>
    <script type="text/javascript" src="/includes/js/comicPage.js"></script>
{% endblock %}
