<div class="warnerburg-splash-link">
    <a ui-sref="gallery" ><img class="warnerburg-splash-link-image" ng-src="{{ common.galleryDark }}" /></a>
</div>
<div class="warnerburg-splash-link">
    <a ui-sref="comic" ><img class="warnerburg-splash-link-image" ng-src="{{ common.comicDark }}" /></a>
</div>
<div class="warnerburg-splash-link">
    <a ui-sref="store" ><img class="warnerburg-splash-link-image" ng-src="{{ common.storeDark }}" /></a>
</div>
<div class="warnerburg-splash-link">
    <a ui-sref="info" ><img class="warnerburg-splash-link-image" ng-src="{{ common.infoDark }}" /></a>
</div>