body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt; }

a:link {
  color: #000000; }

a:visited {
  color: #000000; }

a:hover {
  color: #AAAAAA; }

a:active {
  color: #000000; }

a.unobtrusive-link:link {
  color: #AAAAAA;
  text-decoration: none;
  font-size: 9pt; }

a.unobtrusive-link:visited {
  color: #AAAAAA;
  text-decoration: none;
  font-size: 9pt; }

a.unobtrusive-link:hover {
  color: #AAAAAA;
  text-decoration: underline;
  font-size: 9pt; }

a.unobtrusive-link:active {
  color: #AAAAAA;
  text-decoration: none;
  font-size: 9pt; }

a {
  outline: 0; }

.warnerburg-link-image:hover {
  opacity: 0.25; }

.warnerburg-selected-link-image {
  opacity: 0.25; }

.outermost-container {
  text-align: center; }

.warnerburg-narrow-header-container {
  margin: 0 auto;
  width: 806px;
  padding-bottom: 25px;
  height: 70px; }

.warnerburg-narrow-header-row {
  display: table-row; }

.warnerburg-narrow-header-link {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  width: 184px; }

.comic-container {
  text-align: center;
  width: 796px;
  margin: 0 auto; }

.image-container {
  text-align: center;
  width: 796px;
  margin: 0 auto; }

#content-image {
  display: block;
  margin: auto; }

.table-container {
  display: table;
  margin: 0 auto;
  border-collapse: collapse;
  border-width: 0;
  border-spacing: 0; }

.image-caption-container {
  padding-top: 20px;
  width: 1024px;
  margin: 0 auto; }

.comic-content-nav-header-container {
  width: 796px; }

.content-nav-header-row {
  display: table-row; }

.content-nav-header-sequence-number-cell {
  text-align: left;
  display: table-cell;
  position: relative;
  bottom: 5px;
  min-width: 160px; }

.content-nav-header-buttons-cell {
  text-align: center;
  display: table-cell; }

.content-nav-header-publish-date-cell {
  text-align: right;
  display: table-cell;
  position: relative;
  bottom: 5px;
  width: 160px; }

.warnerburg-narrow-footer-message {
  text-align: center;
  font-style: italic;
  color: #AAAAAA;
  padding-top: 15px;
  padding-bottom: 3px; }

.content-nav-footer-container {
  width: 800px; }

.content-nav-footer-links {
  display: table-row; }

.content-nav-footer-link {
  display: table-cell;
  text-align: center;
  width: 160px; }

.blog-post-container {
  width: 796px;
  border: 2px solid black;
  margin: 0 auto; }

.blog-post-elements {
  display: table-row;
  width: 100%; }

.blog-post-author-pic {
  display: table-cell;
  vertical-align: top;
  padding: 7px; }

.blog-post-content {
  display: table-cell;
  vertical-align: top;
  padding: 7px;
  text-align: left;
  width: 100%; }

.blog-post-links {
  padding-top: 20px;
  text-align: right;
  margin-right: 10px; }

.comic-links-container {
  text-align: right;
  width: 796px;
  margin: 0 auto;
  padding-top: 5px;
  color: #AAAAAA; }

.comic-links {
  text-align: right;
  width: 100%; }

.comments-header {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
  font-size: 14pt; }

.comments-container {
  padding-top: 5px;
  width: 796px;
  margin: 0 auto;
  display: none; }

.comment-container {
  width: 100%;
  text-align: left;
  padding: 5px; }

.comment-elements {
  display: table-row; }

.comment-index {
  display: table-cell;
  padding: 5px; }

.comment-content {
  display: table-cell;
  padding: 5px; }

.comment-text {
  padding-bottom: 10px; }

.comment-details {
  color: #AAAAAA;
  font-style: italic;
  padding-bottom: 15px; }

.new-comment-field-label {
  width: 100px;
  text-align: left;
  display: inline-block; }

.new-comment-container {
  text-align: left; }

.new-comment-fields-container {
  text-align: left;
  width: 100%; }

.new-comment-header {
  font-weight: bold;
  font-size: 12pt;
  padding-bottom: 5px; }

.new-comment-field {
  padding-bottom: 5px; }

#newCommentAuthor {
  border: 1px solid #AAAAAA; }

#newCommentAuthor::-webkit-input-placeholder {
  padding-left: 1px; }

#newCommentAuthor:-moz-placeholder {
  padding-left: 1px; }

#newCommentAuthor:-ms-input-placeholder {
  padding-left: 1px; }

#newCommentText {
  width: 786px;
  margin-left: 2px;
  margin-right: 15px;
  height: 100px;
  border: 1px solid #AAAAAA; }

.content-thumbnail-image-hover {
  height: 190px;
  width: 190px; }

.admin-page-content {
  margin-top: 70px; }

.category-admin-page-content {
  margin-top: 15px;
  margin-bottom: 40px; }

.content-grid-container {
  text-align: left;
  overflow: hidden;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-left: 50px; }

.admin-page-content-field-table-container {
  padding: 10px; }

.admin-page-content-field-table {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  border-spacing: 5px; }

.admin-page-content-field-header-row {
  font-weight: bold; }

.admin-page-content-field-row {
  display: table-row;
  background-color: #eee; }

.admin-page-content-field-label {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  font-weight: bold;
  width: 120px; }

.admin-page-content-field {
  display: table-cell;
  padding: 10px;
  vertical-align: top; }

.admin-page-content-field-image-preview {
  float: right; }

.admin-page-content-field-input {
  float: left; }

.section-label {
  cursor: pointer;
  padding: 0 0 0 12px;
  margin: 0;
  font-size: 14pt;
  font-weight: bold;
  line-height: 40px;
  color: white;
  background-color: #4C4C4C;
  position: relative;
  top: 50px;
  left: 0px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg); }

.admin-content-grid {
  display: block;
  padding: 0;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  float: left; }

.admin-category-list {
  text-align: left;
  padding-left: 30px; }

.admin-page-content-header {
  font-size: 14pt;
  font-weight: bold; }

.content-thumbnail-image-overlay:hover {
  transition: background-color 0.3s ease;
  background-color: rgba(200, 0, 0, 0.5); }

.content-grid-item {
  display: inline-block;
  width: 170px;
  height: 170px;
  list-style-type: none;
  margin: 5px;
  background-color: #eeeeee;
  text-align: left;
  overflow: hidden;
  float: left; }

.content-thumbnail-image-overlay {
  position: absolute;
  margin: 5px;
  z-index: 2;
  width: 160px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  display: inline-block; }

.content-thumbnail-image-overlay-changed {
  background-color: rgba(255, 0, 0, 0.5) !important; }

.content-thumbnail-image-overlay-changed .content-thumbnail-image-overlay-date-text {
  visibility: visible !important; }

.content-thumbnail-image-change-indicator-overlay {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: inline-block; }

.content-thumbnail-image-overlay:hover .content-thumbnail-image-overlay-date-text {
  transition: visibility 0.3s ease;
  visibility: visible; }

.content-thumbnail-image-overlay-text-container {
  vertical-align: middle;
  display: inline-block; }

.content-thumbnail-image-overlay-sequence-number-text {
  font-size: 40pt; }

.add-new-content-message {
  font-size: 15pt; }

.content-thumbnail-image-overlay-date-text {
  font-size: 10pt;
  height: 0;
  visibility: hidden; }

.content-thumbnail-image-container {
  text-align: center;
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 1;
  margin: 5px; }

.image-container-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.content-thumbnail-image {
  max-height: 150px;
  max-width: 150px;
  margin: auto;
  position: relative;
  vertical-align: middle; }

.admin-header-options {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7); }

.admin-header-button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  display: table;
  height: 50px; }

.header-option-container {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50px; }

.admin-header-left {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  text-align: left;
  padding: 0;
  margin: 0; }

.admin-header-center {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  text-align: center;
  padding: 0;
  margin: 0; }

.admin-header-right {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  text-align: right;
  padding: 0;
  margin: 0; }

.admin-header-label {
  font-size: 14pt;
  color: white;
  padding: 0;
  margin: 0; }

.admin-text-link {
  color: #FFFFFF !important; }

.admin-text-link:hover {
  color: #DA7676 !important; }

.content-admin-field {
  display: none; }

#admin-content-text {
  width: 800px;
  height: 400px; }

.invisible-nav-button {
  display: none; }

.gallery-container {
  width: 800px;
  margin: 0 auto;
  text-align: left; }

.gallery-sketch-container {
  width: 1024px;
  margin: 0 auto;
  text-align: center; }

.gallery-section-label {
  padding-top: 15px;
  padding-bottom: 15px; }

.gallery-section-images-container {
  padding-bottom: 30px;
  overflow: auto; }

.gallery-subsection {
  float: left;
  padding-top: 15px;
  padding-right: 15px; }

.gallery-subsection div {
  padding-top: 2px;
  padding-bottom: 2px; }

.comic-archives-section {
  display: inline-block;
  padding-bottom: 30px; }

.comic-archives-section-thumbnail {
  float: left;
  width: 200px;
  height: 200px; }

.comic-archives-section-desc {
  float: left;
  width: 596px;
  height: 170px; }

.comic-archives-section-row {
  display: table-row;
  width: 800px; }

.comic-archives-section-row-right {
  text-align: right; }

.comic-archives-section-row-left {
  text-align: left; }

.comic-archives-section-desc-container {
  display: table-cell;
  width: 596px; }

.comic-archives-section-thumbnail-container {
  display: table-cell; }

.comic-archives-section-links {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px; }

.comic-archives-section-row-right .comic-archives-section-desc-container {
  float: left; }

.comic-archives-section-row-right .comic-archives-section-thumbnail-container {
  float: right; }

.comic-archives-section-row-left .comic-archives-section-desc-container {
  float: right; }

.comic-archives-section-row-left .comic-archives-section-thumbnail-container {
  float: left; }

.comic-archives-section-desc {
  display: block;
  float: none; }

.comic-archives-section-thumbnail {
  display: block;
  float: none; }

.dropzone-preview {
  visibility: hidden;
  height: 0; }

.admin-page-content-field-preview {
  float: left; }

.admin-page-content-field-options {
  float: left;
  padding-left: 10px; }

.image-picker-selection-option-display {
  display: none; }

.image-picker-selection-option {
  float: left;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 124px;
  width: 124px;
  text-align: center; }

.image-picker-selection-option-image {
  max-height: 124px;
  max-width: 124px; }

.image-picker-selection-option-display-header {
  width: 100%;
  clear: both; }

.image-picker-selection-option-display-footer {
  clear: both;
  width: 100%; }

.new-option-entry-display {
  display: none; }

.image-picker-preview-image {
  padding-bottom: 5px;
  max-height: 124px;
  max-width: 124px; }

.content-save-message {
  display: none;
  color: white; }

.upload-results-message {
  padding-top: 5px; }

.text-picker-link-options {
  padding-top: 5px; }

/*# sourceMappingURL=warnerburg.css.map */
